# Ignorar entornos virtuales
venv/
env/
.venv/

# Ignorar carpetas de datos y registros
data/
logs/
temp/
entorno/

# Ignorar archivos de configuración de IDEs
.idea/
*.swp
.vscode/

# Ignorar archivos de bases de datos
*.sqlite3
*.db

# Ignorar archivos de registro
*.log

# Ignorar archivos de entorno
.env